<!DOCTYPE html>
<html>
<head>
  <title>ConvertAPI Workflows</title>
  <link rel="stylesheet" href="../../assets/css/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="./main.js" defer></script>
</head>
<body class="">
  <nav>
    <div class="nav-wrapper">
      <div class="brand-logo center">
        <img src="../../assets/icons/png/icon@2x.png" width="25"/>
          ConvertAPI Workflows
      </a>
    </div>
    <ul class="right">
      <li><a href="#" class="js-open-settings"><i class="material-icons">settings</i></a></li>
      <li><a href="#"><i class="material-icons">more_vert</i></a></li>
    </ul>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l6 xl4">
        <div class="card center-align js-workflow">
          <div class="card-image cursor-pointer js-select-files">
            <img src="../../assets/img/drag.png">
          </div>
          <div class="card-content">
            <p class="strong">DOCX → PDF → Compress → Encrypt</p>
          </div>
          <div class="card-action">
            <a data-path="C:\Documents\split\" class="js-open-folder waves-effect waves-light btn strong" href="#"><i class="material-icons tiny left">folder_open</i>Open results</a>
            <a class="waves-effect waves-light btn" href="#"><i class="material-icons tiny center">create</i><strong></strong></a>
            <a class="waves-effect waves-light btn" href="#"><i class="material-icons tiny center">delete</i><strong></strong></a>
          </div>
        </div>
      </div>
      <div class="col s12 m12 l6 xl4">
        <div class="card center-align js-workflow">
          <div class="card-image js-select-files">
            <img src="../../assets/img/drag.png">
          </div>
          <div class="card-content">
            <p class="strong">XLSX → PDF → Split → Merge</p>
          </div>
          <div class="card-action">
            <a data-path="C:\Documents\split\" class="js-open-folder waves-effect waves-light btn strong" href="#"><i class="material-icons tiny left">folder_open</i>Open results</a>
            <a class="waves-effect waves-light btn" href="#"><i class="material-icons tiny center">create</i><strong></strong></a>
            <a class="waves-effect waves-light btn" href="#"><i class="material-icons tiny center">delete</i><strong></strong></a>
          </div>
        </div>
      </div>
    </div>
    <a class="btn-floating btn-large waves-effect waves-light right"><i class="material-icons">add</i></a>
  </div>
</body>
</html>