<!DOCTYPE html>
<html>
<head>
  <title>ConvertAPI Workflows</title>
  <link rel="stylesheet" href="../../assets/css/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="./main.js" defer></script>
</head>
<body class="">
  <nav>
    <div class="nav-wrapper">
      <div class="brand-logo center">
        <img src="../../assets/icons/png/icon@2x.png" width="25"/>
          ConvertAPI Workflows
      </a>
    </div>
    <ul class="right">
      <li><a href="#" class="js-open-settings"><i class="material-icons">settings</i></a></li>
      <li><a href="#"><i class="material-icons">more_vert</i></a></li>
    </ul>
  </nav>
  <div class="container">
    <div class="row">
      <!--Workflow card - make dynamic -->
      <div class="col s12 m12 l6 xl4">
        <div class="card workflow js-workflow">
          <div class="card-image js-select-files">
            <i class="material-icons center medium">cloud_upload</i>
            <small>
              Drag and drop file here
            </small>
            <small>or</small>
            <a class="waves-effect waves-light btn orange" href="#">Browse for file</a>
          </div>
          <div class="card-content">
            <p>DOCX → PDF → Compress → Encrypt</p>
          </div>
          <div class="card-action">
            <a data-path="C:\Documents\split\" class="js-open-folder waves-effect waves-light btn" href="#" title="Show results in folder"><i class="material-icons tiny center">folder_open</i></a>
            <a class="waves-effect waves-light btn" href="#" title="Edit workflow"><i class="material-icons tiny center">create</i></a>
            <a class="waves-effect waves-light btn" href="#" title="Delete workflow"><i class="material-icons tiny center">delete</i></a>
          </div>
        </div>
      </div>
      <!-- ENDOF Workflow card -->
    </div>
    <a class="btn-floating btn-large waves-effect waves-light right js-create-workflow" title="Create new workflow"><i class="material-icons">add</i></a>
  </div>
</body>
</html>