################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/.vs
/Properties
/Cli/bin/
/Cli/obj
/Cli/Properties
/Lib/bin/
/Lib/obj
/GUI/.vs
/GUI/node_modules
/GUI/dist
/GUI/release-builds
/GUI/windows_installer
/GUI/config.json
WinConfig/bin
WinConfig/obj
