<!DOCTYPE html>
<html>
<head>
  <title>ConvertAPI Document Converter</title>
  <link rel="stylesheet" href="../../assets/css/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="./main.js" defer></script>
</head>
<body class="">
  <nav>
    <div class="nav-wrapper">
      <div class="brand-logo center">
        <img src="../../../build/icons/png/icon@2x.png" width="25"/>
          ConvertAPI Document Converter
      </a>
    </div>
    <ul class="right">
      <li><a href="javascript:void(0)" class="js-create-workflow" title="Create new workflow"><i class="material-icons">add</i></a></li>
      <li><a href="javascript:void(0)" class="js-open-settings"><i class="material-icons">settings</i></a></li>
    </ul>
  </nav>
  <div class="container main-wrapper" id="mainWrapper">
    <!--Placeholder when there are no workflows-->
      <div id="placeholder" class="row mt-5 hidden">
        <h5>Please setup your first conversion workflow.</h5>
      </div>
    <!--ENDOF Placeholder-->
    <!--Low balance notification-->
      <div class="row hidden" id="balance-notification">
        <div class="col s12 m12">
          <div class="card blue">
            <div class="card-content white-text">
              <span class="card-title">Dear <span id="customer-name">customer</span>,</span>
              <p><strong class="orange-text" id="message-text">Your balance is running low.</strong> Please top up your account to keep your conversions running without any interruptions.</p>
            </div>
            <div class="card-action white">
              <a href="#" id="account-top-up" class="btn">Top up your account</a>
              <a href="#" id="dismiss-balance-notification" class="btn-flat">Remind me later</a>
            </div>
          </div>
        </div>
      </div>
      <!--ENDOF Low balance notification-->
      <!--Workflows wrapper-->
      <div class="row js-workflow-wrapper">
      </div>
      <!--ENDOF Workflows wrapper-->
      <!--Floating button-->
      <a class="btn-floating btn-large waves-effect waves-light create-workflow-btn js-create-workflow mb-2" title="Create new workflow"><i class="material-icons">add</i></a>
      <!--ENDOF Floating button-->
    </div>

  <!--Terminal-->
  <div class="console">
    <div class="header"><span>TERMINAL OUTPUT</span> <i class="material-icons js-close-console">close</i></div>
    <div class="content js-console-content">
    </div>
  </div>
  <!--ENDOF Terminal-->

  <!--Offline message-->
  <div id="offline" class="hidden">
    <div class="overlay"></div>
    <div class="content">
      <h5>Connecting to network...</h5>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
  <!--ENDOF Offline message-->

  <!--Notification toast message-->
  <div class="paper-snackbar"></div>
  <!--ENDOF Notification toast message-->

  <!--Workflow template-->
  <template id="workflow-template">
    <div class="col s12 m12 l6 xl4">
      <div class="card workflow js-workflow">
        <div class="card-image js-drop-area">
          <i class="material-icons center medium">cloud_upload</i>
          <small>
            Drag and drop file here
          </small>
          <small>or</small>
          <a class="waves-effect waves-light btn orange" href="javascript:void(0)">Browse for file</a>
        </div>
        <div class="card-content">
          <p></p>
        </div>
        <div class="card-action">
          <a class="js-open-folder waves-effect waves-light btn" href="javascript:void(0)" title="Show results in folder"><i class="material-icons tiny center">folder_open</i></a>
          <a class="js-edit-workflow waves-effect waves-light btn" href="javascript:void(0)" title="Edit workflow"><i class="material-icons tiny center">create</i></a>
          <a class="js-delete-workflow waves-effect waves-light btn" href="javascript:void(0)" title="Delete workflow"><i class="material-icons tiny center">delete</i></a>
        </div>
      </div>
    </div>
  </template>
  <!--ENDOF Workflow template-->
</body>
</html>