<!DOCTYPE html>
<html lang="en">

<head>
  <title>Enter Secret</title>
  <link rel="stylesheet" href="../../assets/css/materialize.css">
  <script src="login.js" defer></script>
</head>

<body>
  <div class="container mt-1">
    <form class="section center-align">
      <div class="input-field left-align">
        <label class="active">Enter your secret key here:</label>
        <input type="text" id="secret" value="" autofocus>
        <span id="validation-error" class="helper-text red-text"></span>
      </div>
      <div>
        <button class="waves-effect waves-light btn btn-primary" type="submit">Submit</button>
        <a href="#" class="btn-flat" id="close-application">Cancel</a>
      </div>
      <br />
      Don't have a secret?<br/><a href="#" id="get-secret">Sign up and get your secret for free!</a>
    </form>
  </div>
</body>

</html>
