<!DOCTYPE html>
<html lang="en">

<head>
  <title>Enter Secret</title>
  <link rel="stylesheet" href="../../assets/css/materialize.css">
  <script src="login.js" defer></script>
</head>

<body>
  <div class="container mt-1">
    <form class="section center-align">
      <div class="input-field left-align">
        <label class="active">Enter your secret here:</label>
        <input type="text" id="secret" value="SRfUqYwzHsTfXUjm" autofocus>
        <span id="validation-error" class="helper-text red-text"></span>
      </div>
      <div>
        <button class="waves-effect waves-light btn btn-primary" type="submit">Submit</button>
      </div>
      <br />
      <a href="#" id="get-secret">Don't have a secret?</a>
    </form>
  </div>
</body>

</html>
